.regions-label {
    font-weight: 700;
    color: white;
    padding: 1rem;
}

#region-select {
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    font-weight: 600;
    border-radius: 10px;
}

.region-option {
    font-weight: 600;
}